In [47]:
a=[]
for i in range(5):
    n=int(input())
    a.append(n)
print("Maximum number is",max(a))

Maximum number is 6

In [39]:
n=int(input("Enter a number"))
for i in range(1,100):
    if i%3==0 and i%5==0:
        print(i)

15
30
45
60
75
90

In [ ]:
n=int(input("Enter year"))
if(n%4==0 and n%100!=0) or (n%400==0):
    print(n,"is a leap year")
else:
    print(n,"is not a leap year")

2013 is not a leao year

In [33]:
n=int(input("Enter number"))
for i in range(1,11):
    print("Multiplication table of",n,"is",n*i)

Multiplication table of 3 is 3
Multiplication table of 3 is 6
Multiplication table of 3 is 9
Multiplication table of 3 is 12
Multiplication table of 3 is 15
Multiplication table of 3 is 18
Multiplication table of 3 is 21
Multiplication table of 3 is 24
Multiplication table of 3 is 27
Multiplication table of 3 is 30

In [27]:
i=input("Enter a string")
i.lower()
a=list(i)
vowels=0
consonants=0
for i in a:
    if(i=='a'or i=='e' or i=='i' or i=='o' or i=='u' ):
        vowels=vowels+1
    else:
        consonants=consonants+1
print("Vowels:",vowels)
print("Consonants:",consonants)

Vowels: 2
Consonants: 3

In [22]:
n = int(input("Enter pin"))
original=n
rem = 0
sum = 0
while n > 0:
    rem = n % 10
    n = n // 10
    sum+=rem*rem*rem
if sum == original:
    print("Armstrong")
else:
    print("Not Armstrong")

Not Armstrong

In [15]:
a=input("Enter a string")
b=reversed(a)
b=' '.join(b)
print(b)

o l l e h

In [2]:
a=int(input("a= "))
b=int(input("b= "))
print("Element a before swapping is",a)
print("Element b before swapping is",b)
a=a+b
b=a-b
a=a-b
print("Element a after swapping is",a)
print("Element b after swapping is",b)

Element a before swapping is 3
Element b before swapping is 2
Element a after swapping is 2
Element b after swapping is 3

In [6]:
a=int(input())
if(a%1==0 and a%a==0 and a%2!=0):
    print(a,"is Prime")
else:
    print(a,"is not Prime")

4 is not Prime

In [12]:
a = []
b=int(input("Enter number of students"))
for i in range(b):
    n = int(input())
    a.append(n)
print("Second largest number is", sorted(a)[-2])

Second largest number is 3

In [7]:
n=int(input())
sum=0
for i in range(n):
    a=int(input())
    if(a%2==0):
        sum+=a
print("Sum of even numbers is",sum)

Sum of even numbers is 12

In [ ]:
str=input("Enter a string: ")
u=0
l=0
for i in str:
    if(i.isupper()):
        u+=1
    elif(i.islower()):
        l+=1
print("Uppercase letters:",u)
print("Lowercase letters:",l)

AttributeError: 'str' object has no attribute 'isUpper'